.hack {
    padding: 16px;
    box-shadow: 0 2px 5px 0 rgba(19, 41, 104, .2);
    border-radius: 8px;
    background-color: white;
    &:hover {
        i {
            color: #ff6600;
        }
    }
    .meta-data {
        font-size: 10px;
        padding-top: 4px;
        border-top: 1px solid #f1f2f6;
    }
    .title {
        display: inline-block;
        position: relative;
        padding-left: 16px;
        text-decoration: none;
        color: inherit;
        font-size: 14px;
        padding-bottom: 4px;
        i {
            position: absolute;
            left: 0;
            top: 4px;
        }
    }
}