body {
    background-color: #f1f2f6;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.app {
    padding: 16px;
}

h2 {
    text-align: center;
    margin-bottom: 16px;
    font-size: 1.5rem;
}


/* Animations */

.hoverForward {
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
}

.hoverForward:hover {
    transform: translateX(8px);
}