.loadMoreButton {
    color: #1c9d79;
    background-color: #e6fef7;
    border-color: #24c89a;
    padding: 8px 12px 10px 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 8px;
    width: 100%;
    text-transform: capitalize;
    &:hover {
        color: #ff6600;
    }
}